<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  
  <div class="field">
    <%= form.label :published_date %>
    <%= form.date_select :published_date, start_year:1800, end_year: Time.now.year %>
  </div>
  
    <div class="field">
      <%= form.label :author_id %>
      <%= form.select(:author_id, @authors.map{ |b| [b.name, b.id] }) %>
    </div>
  

 
<div class="field">
<div class="checkboxes">
    <%= form.label :genres %>
    <%= form.collection_check_boxes :genres, @genres, :id, :name, include_hidden: false %>
</div>
</div>

<div>
  <%= form.label :picture %> 
  <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
</div>

<div class="actions">
    <%= form.submit %>
  </div>
<% end %>


   
 


