<%= form_with(model: books_genre, local: true) do |form| %>
  <% if books_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(books_genre.errors.count, "error") %> prohibited this books_genre from being saved:</h2>

      <ul>
        <% books_genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.text_field :genre_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
